<!DOCTYPE html>
%html
	%head
		%title
			Sasssite

		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= stylesheet_link_tag	"http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Volkhov:400,700"
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body

		%header
			.container
				#header-left
					.logo
						= link_to "/" do
							= image_tag "/assets/default/cafenavigators-logo_high.png"

				#header-right
					#header-right-nav
						%ul
							%li#nav-active
								= link_to 'Home', '/'
							%li
								= link_to 'Slowchat', '/slowchat'
							%li
								= link_to 'De Deur', '/doorway'

					#header-right-sessioninfo
						#header-usericon
							= link_to '/dashboard' do
								= image_tag "/assets/default/default-usericon.png"
						#header-username
							= link_to '/dashboard' do
								Jesse Lantinga

		%section#main-content
			.container#home-page
				.top-quote
					= image_tag '/assets/home/top-quote_large.png'
				.top-image
					= image_tag '/assets/home/top-image.jpg'
			
			.container#home-content-inner
				#home-content-left
					#home-content-main-text
						#home-content-home
							%h1 Welkom
							Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
							%br
							%br
							My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
							%br
							%br
							Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
						#home-content-history.hidden
							%h1 Geschiedenis
							Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
							%br
							%br
							My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
							%br
							%br
							Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
						#home-content-now.hidden
							%h1 Nu in café
							Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
							%br
							%br
							My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
							%br
							%br
							Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
						#home-content-door.hidden
							%h1	De deur
							Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
							%br
							%br
							My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
							%br
							%br
							Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
						#home-content-tour.hidden
							%h1 Café Navigators on tour
							Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
							%br
							%br
							My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
							%br
							%br
							Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
						#home-content-location.hidden
							%h1 Routebeschrijving
							Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
							%br
							%br
							My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
							%br
							%br
							Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.

					#home-content-miniblog
						#miniblog-header
							%h1 Laatste blog berichten
						#miniblog-inner
							%article.block.article1
								.title
									%h2 Titel van blog
								.content
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child?
								.read-more
									= link_to 'Lees verder', '#'

							%article.block.article2
								.title
									%h2 Titel van blog
								.content
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child?
								.read-more
									= link_to 'Lees verder', '#'

							%article.block.article3
								.title
									%h2 Titel van blog
								.content
									Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child?
								.read-more
									= link_to 'Lees verder', '#'

							.cleardiv 
								/ clear's articles in miniblog
							#all-blogs-link
								= link_to '', 'blogs'

				#home-content-right
					.home-tile.activetile.block#tile1
					.home-tile.block#tile2
					.home-tile.block#tile3
					.home-tile.block#tile4
					.home-tile.block#tile5
					.home-tile.block#tile6
				.cleardiv
